<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ProductImage</title>
</head>
<body>
    <div>
        <form action="#", th:action="@{/saveProductImg}" th:object="${image}" method="GET">
            name: <input type="text" name="name" th:field="*{name}"/><br/>
            source: <input type="text" name="url" th:field="*{url}"/><br/>
            <button name="submit" type="submit" value="0">Submit</button>
        </form>


    </div>
</body>
</html>